@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Khand', sans-serif;
    font-weight: 600;
  }
  
  .text-4xl, .text-5xl, .text-6xl, .text-7xl, .text-8xl, .text-9xl {
    font-family: 'Khand', sans-serif;
  }
}
